# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties

# Generated
*.freezed.dart
*.g.dart
*.gr.dart

# Misc
*.log
.DS_Store
